/* common start */
body{
	font-family:'PT Sans', sans-serif;
	font-size:16px;
	font-weight:400;
	color:#898989;
}
/* common end */

/* header start */
header{
	background-color:#fcdb00;
	padding:20px 0;
}
.c-nav{}
.logo{}
.menu{}
.menu ul li a{
	font-size:22px;
	font-weight:700;
	color:#010101 !important;
	padding:0 50px !important;
	
}
.menu ul li:last-child a{
	padding-right:0 !important;
}
.menu ul li a:hover{
	color:#FFFFFF !important;
}
/* header end */

/* slider start */
.slider{
	background-color:#fcdb00;
	padding-bottom:100px;
}
.c-indicator{
	bottom:-80px;
}
.c-indicator [data-bs-target]{
	width:15px;
	height:15px;
	border-radius:50%;
}
.s-text{
	margin-top:50px;
}
.s-text h1{
	font-size:32px;
	font-weight:700;
	color:#010101;
}
.s-text h2{
	margin:20px 0;
	font-size:20px;
	font-weight:400;
	color:#313841;
}
.s-text p{
	margin-bottom:35px;
	color:#555555;
}
.s-icon ul li{
	margin-right:30px !important;
}
.s-icon ul li i{
	font-size:42px;
	color:#010101;
	transition:.6s;
}
.s-icon ul li i:hover{
	transform:scale(.6);
}
/* slider start */

/* feature start */
.feature{
	padding-top:100px;
	padding-bottom:120px;
}
.c-title{}
.c-h1{
	margin-bottom:15px;
	font-size:32px;
	font-weight:700;
	color:#010101;
}
.c-p{
	line-height:28px;
	font-size:20px;
	color:#313841;
}
/* feature end */